.animal {
  width: 300px;
  padding: 1em;
  box-shadow: 5px 5px lightgrey;
  border: 1px solid lightgrey;
  margin: 0 auto;
}

.animal__quick-facts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.animal ul span{
  font-weight: bold;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-style: italic;
}

img {
  width: 100%;
}

h3 {
  font-size: 2em;
}
